.main-card-container {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e4e4e4;  
}

.card-image {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-align: center;
  object-fill: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background: white;
  border-radius: 100%;
  opacity: 0.5;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 12%);
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background: white;
  border-radius: 100%;
  opacity: 0.5;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 12%);
}

.left-arrow:hover, .right-arrow:hover {
  opacity: 1;
}

.card {
  opacity: 0;
  transition-duration: 1s ease;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 12%);
}

.card.active {
  opacity: 1;
  transition: 1s;
  transform: scale(1.08)
}

.card-description {
  text-color: #gray;
  font-size: 20px;
  margin-left: 10px;

}

.card-name {
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
